.footer {
  background-color: #2c2c2c;
  color: #fff;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #f95959;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #f95959;
  text-decoration: underline;
}
