.login-btn{
    border: none;
    background: linear-gradient(0deg, rgb(10, 123, 14), rgb(83, 192, 73), rgb(95, 223, 127), rgb(150, 210, 131));
    color: white;
    font-weight: 100%;
    width: 100%;
    font-size: 1.2rem;

}
.login-title{
    border-bottom: 3px solid rgb(43, 159, 68);
    font-weight: 100%;
    color: rgb(57, 155, 77);
}

.img-1{
    width:100%;
    height:100%
}



.col-10{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text1{
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(0deg, red, rgb(185, 232, 66), rgb(13, 187, 193), blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

